<a href="https://colab.research.google.com/github/rishav197/Sweb-assignments-IIITD/blob/main/A1/Q1/Sweb_A1_Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install rdflib

Collecting rdflib
  Downloading rdflib-7.0.0-py3-none-any.whl (531 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 531.9/531.9 kB 4.3 MB/s eta 0:00:00
Collecting isodate<0.7.0,>=0.6.0 (from rdflib)
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: pyparsing<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from rdflib) (3.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.1 rdflib-7.0.0

In [ ]:
from rdflib import Graph, Literal, Namespace
from rdflib.namespace import RDF, RDFS

In [ ]:
#Define the namespace
ex = Namespace("https://iiitd.ac.in/course/sweb/student/")
ex

Namespace('https://iiitd.ac.in/course/sweb/student/')

Create an RDF Graph

In [ ]:
graph = Graph()

In [ ]:
"""Define classes (1. Student
                   2. Course
                   3. Professor
                   4. Department
                   5. ResearchGrp
                   6. University )
"""

graph.add((ex.Student, RDF.type, RDFS.Class)) # Student Class
graph.add((ex.Course, RDF.type, RDFS.Class)) # Course Class
graph.add((ex.Professor, RDF.type, RDFS.Class)) # Professor Class
graph.add((ex.Department, RDF.type, RDFS.Class)) # Department Class
graph.add((ex.ResearchGrp, RDF.type, RDFS.Class)) # ResearchGrp Class
graph.add((ex.University, RDF.type, RDFS.Class)) # University Class

Define Properties/Relationship of Classes

In [ ]:
graph.add((ex.advisor, RDF.type, RDF.Property))

graph.add((ex.takes, RDF.type, RDF.Property))

graph.add((ex.memberOf, RDF.type, RDF.Property))

graph.add((ex.worksFor, RDF.type, RDF.Property))

graph.add((ex.teaches, RDF.type, RDF.Property))

graph.add((ex.subOrgOf, RDF.type, RDF.Property))

Defining the domain and ranges for above defined properties

In [ ]:
# (Student, Professor)
graph.add((ex.advisor, RDFS.domain, ex.Student))
graph.add((ex.advisor, RDFS.range, ex.Professor))

# (Student, Course)
graph.add((ex.takes, RDFS.domain, ex.Student))
graph.add((ex.takes, RDFS.range, ex.Course))

# (Student, Department)
graph.add((ex.memberOf, RDFS.domain, ex.Student))
graph.add((ex.memberOf, RDFS.range, ex.Department))

# (Professor, Department)
graph.add((ex.worksFor, RDFS.domain, ex.Professor))
graph.add((ex.worksFor, RDFS.range, ex.Department))

# (Professor, Course)
graph.add((ex.teaches, RDFS.domain, ex.Professor))
graph.add((ex.teaches, RDFS.range, ex.Course))

# (Department, ResearchGrp)
graph.add((ex.subOrgOf, RDFS.domain, ex.Department))
graph.add((ex.subOrgOf, RDFS.range, ex.ResearchGrp))

Add triples for instances of all classes

In [ ]:
#1
lst_of_studs = ["Ben", "John", "Peter", "Lee"]
lst_of_studs.sort()

#2
lst_of_profs = ["James", "Fred", "Tim"]
lst_of_profs.sort()

#3
lst_of_courses = ["Databases", "Algorithms"]
lst_of_courses.sort()

#4
lst_of_Departs = ["CS"]
lst_of_Departs.sort()

#5
lst_of_Reschgrps = ["InfoLab"]
lst_of_Reschgrps.sort()


print("Student = ", lst_of_studs)
print("Professor = ", lst_of_profs)
print("Courses = ", lst_of_courses)
print("Department = ", lst_of_Departs)
print("ResearchGrp = ", lst_of_Reschgrps)

Student =  ['Ben', 'John', 'Lee', 'Peter']
Professor =  ['Fred', 'James', 'Tim']
Courses =  ['Algorithms', 'Databases']
Department =  ['CS']
ResearchGrp =  ['InfoLab']

**Instances of the `Student Class`**

In [ ]:
# For "Ben"
graph.add((ex.student1, RDF.type, ex.Student))
graph.add((ex.student1, ex.advisor, ex.professor4))
graph.add((ex.student1, ex.takes, ex.course2))

# For "John"
graph.add((ex.student2, RDF.type, ex.Student))
graph.add((ex.student2, ex.advisor, ex.professor1))
graph.add((ex.student2, ex.takes, ex.course2))

# For "Lee"
graph.add((ex.student3, RDF.type, ex.Student))
graph.add((ex.student3, ex.advisor, ex.professor2))
graph.add((ex.student3, ex.takes, ex.course1))


# For "Peter"
graph.add((ex.student4, RDF.type, ex.Student))
graph.add((ex.student4, ex.advisor, ex.professor2))
graph.add((ex.student4, ex.takes, ex.course1))

**Instances of the `Course Class`**

In [ ]:
graph.add((ex.course1, RDF.type, ex.Course))
graph.add((ex.course2, RDF.type, ex.Course))

**Instances of the `Department Class`**

In [ ]:
graph.add((ex.department, RDF.type, ex.Department))

**Instances of the `Professor Class`**

In [ ]:
# For "Fred"
graph.add((ex.professor1, RDF.type, ex.Professor))
graph.add((ex.professor1, ex.worksFor, ex.department))
graph.add((ex.professor1, ex.teaches, ex.course2))


# For "James"
graph.add((ex.professor2, RDF.type, ex.Professor))
graph.add((ex.professor2, ex.worksFor, ex.department))
graph.add((ex.professor2, ex.teaches, ex.course1))


# For "Tim"
graph.add((ex.professor3, RDF.type, ex.Professor))
graph.add((ex.professor3, ex.teaches, ex.course2))

**Instances of the `Research_group Class`**

In [ ]:
graph.add((ex.researchgrp, RDF.type, ex.ResearchGrp))

**Assertion**

In [ ]:

#Students ['Ben', 'John', 'Lee', 'Peter']
graph.add((ex.student1, ex.name, Literal("Ben")))
graph.add((ex.student2, ex.name, Literal("John")))
graph.add((ex.student3, ex.name, Literal("Lee")))
graph.add((ex.student4, ex.name, Literal("Peter")))


#Courses ['Algorithms', 'Databases']
graph.add((ex.course1, ex.name, Literal("Databases")))
graph.add((ex.course2, ex.name, Literal("Algorithms")))


#Departments ['CS']
graph.add((ex.department1, ex.name, Literal("CS")))


#Professors ['Fred', 'James', 'Tim']
graph.add((ex.professor1, ex.name, Literal("Fred")))
graph.add((ex.professor2, ex.name, Literal("James")))
graph.add((ex.professor3, ex.name, Literal("Tim")))
graph.add((ex.professor4, ex.name, Literal("Lisa")))



#ReseachGrp ['InfoLab']
graph.add((ex.researchgrp, ex.name, Literal("InfoLab")))

In [ ]:
#Save the turtle file
with open("rdf_graph.ttl", "w") as fptr:
    fptr.write(graph.serialize(format="turtle"))